{% extends 'remise/affiche.html.twig' %}

{% block title %}Remise{% endblock %}

{% block body %}
<div style="padding-left: 20%;">
        <div style="padding-top: 10%;">
    <h1>Remise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ remise.id }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ remise.montant }}</td>
            </tr>
            <tr>
                <th>Pourcentage</th>
                <td>{{ remise.pourcentage }}</td>
            </tr>
            <tr>
                <th>Montantaprespourcentage</th>
                <td>{{ remise.montantaprespourcentage }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_remise_index') }}">back to list</a>

    <a href="{{ path('app_remise_edit', {'id': remise.id}) }}">edit</a>

    {{ include('remise/_delete_form.html.twig') }}
{% endblock %}
