{% extends 'base-back.html.twig' %}

{% block title %}Ajouter Utilisateur{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Ajouter vos informations</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-12 col-xxl-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Utilisateur</h5>
                    </div>
                    <div class="card-body">
                        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.email, {'label': 'Email', 'attr': {'class': 'form-control'}}) }}
                                {{ form_row(form.nom, {'label': 'Nom', 'attr': {'class': 'form-control'}}) }}
                                {{ form_row(form.prenom, {'label': 'prenom', 'attr': {'class': 'form-control'}}) }}
                                {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.address, {'label': 'Adresse', 'attr': {'class': 'form-control'}}) }}
                                {{ form_row(form.roles, {'label': 'Rôle', 'attr': {'class': 'form-control'}}) }}
                                {{ form_row(form.image, {'label': 'Image', 'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-lg btn-primary">{{ button_label|default('Enregistrer') }}</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}