<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="utf-8">
    <title>{% block title %} eLEARNING - eLearning HTML Template {% endblock %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"> <!-- This is where you paste the corrected meta tag -->
    <meta content="" name="keywords">
    <meta content="" name="description">
{% block css %}
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="{{asset('assets/https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap')}}" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="{{asset('assets/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css')}}" rel="stylesheet">
    <link href="{{asset('assets/https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css')}}" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{asset('assets/lib/animate/animate.min.css')}}" rel="stylesheet">
    <link href="{{asset('assets/lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{asset('assets/css/style.css')}}" rel="stylesheet">
    {% endblock %}
</head>



<body>
    <!-- Spinner Start -->
   
    <!-- Spinner End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-10 px-lg-25">
       <h1 class="m-0 text-primary"><img  src="/log.png" >9arinyAcademy</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="index.html" class="nav-item nav-link active">Accueil</a>
                <a href="courses.html" class="nav-item nav-link">Cours</a>
                 <a href="courses.html" class="nav-item nav-link">Quizs</a>
                  <a href="courses.html" class="nav-item nav-link">Evenements</a>
                  <a href="courses.html" class="nav-item nav-link">Reclamations</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Plus</a>
                    <div class="dropdown-menu fade-down m-0">
                        <a href="team.html" class="dropdown-item">Clubs</a>
                       <a href="#" class="nav-item nav-link">Paiements</a>
                        <a href="404.html" class="dropdown-item">Notre Equipe</a>
                        <a href="about.html" class="dropdown-item">A propos</a>
                        <a href="contact.html" class="dropdown-item">Contactez-nous</a>
                        <a href="contact.html" class="dropdown-item">Emplacement</a>


                    </div>
                </div>
            </div>
            <a href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Rejoindrez-Nous<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>



    <!-- Navbar End -->


   


    <!-- Carousel Start -->
    
    <!-- Footer Start -->
    
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </body>
    

{% block js %}
    <!-- JavaScript Libraries -->
    <script src="{{asset('assets/https://code.jquery.com/jquery-3.4.1.min.js')}}"></script>
    <script src="{{asset('assets/https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{asset('assets/lib/wow/wow.min.js')}}"></script>
    <script src="{{asset('assets/lib/easing/easing.min.js')}}"></script>
    <script src="{{asset('assets/lib/easing/easing.min.js')}}"></script>
    <script src="{{asset('Asset/lib/owlcarousel/owl.carousel.min.js')}}"></script>

    <!-- Template Javascript -->
    <script src="{{asset('assets/js/main.js')}}"></script>
    {% endblock %}
    </html>
{% block body %}

{% endblock %}




