{% extends 'base-front.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <a href="{{ path('app_index') }}" class="sign__logo">
                            <img src="{{ asset('front/logo/log.png') }}" alt="Logo">
                        </a>

                        <h5 class="card-title">Réinitialisation du mot de passe</h5>
                        <div class="sign__group">
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                        <form method="post" action="{{ path('app_reset_password_submited') }}" class="sign__form">
                            <div class="row">
                                <div class="col-md">
                                    <input type="email" class="form-control mb-3" name="email" id="inputEmail" autocomplete="email"  autofocus placeholder="Adresse email">
                                </div>
                            </div>

                            <button  class="btn btn-lg btn-primary btn-block sign__btn" type="submit">{{ button_label|default('Réinitialiser') }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
